@import"../Divi/style.css";



#main-footer {
    background-color: rgba(191, 78, 176, .57) !important
}

.search-mobile {
    max-width: 80%;
    margin: 2% auto
}

.et_search_outer .aws-container {
    margin-right: 40px !important;
    width: 80%;
    margin-top: 20px !important
}

@media screen and (max-width: 1246px) {
    .et_search_outer .aws-container {
        margin-top: 20px !important
    }
}

@media screen and (max-width: 1202px) {
    .et_search_outer .aws-container {
        margin-top: 40px !important;
        width: 70%
    }
}

@media screen and (max-width: 980px) {
    .et_search_outer .aws-container {
        margin-top: 20px !important;
        width: 80%
    }
}

@media screen and (max-width: 764px) {
    .et_search_outer .aws-container {
        width: 70%
    }
}

header.woocommerce-products-header .term-description,
header.woocommerce-products-header .page-description {
    margin-bottom: 3%
}

div.et_pb_text_2 div.et_pb_text_inner p,
.entry-content p {
    text-align: justify
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: .8em
}

div.product div.entry-summary p.out-of-stock {
    margin: 2% auto;
    font-size: 1.5em
}

.et_pb_text_inner p.text-main {
    text-align: center
}
